@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

*{

    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto Slab', serif;
}




/* here is my logo style */
.logo img{

    width: 100px;
    margin-top: 20px;
    margin-left: 75px;
    border-radius: 50%;
}

.logo{

    overflow: hidden;
}


.menu-bar{

    position: sticky;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #0c012f;
    height: 110vh;
    /* width: 20%; */
    width: 50px;
    padding: 0 20px;
    transition: all 0.5s;
    overflow: hidden;
}

.menu-bar:hover{
     width: 20%;
     transition: 0.8s;
}

body{

    display: flex;
}



ul li{

    padding: 18px;
    margin:8px 0;

}

ul li a{

    color: #fff;
}

ul a{

    display: flex;
    gap: 20px;
}

ul i{

    font-size: 20px;

}

.sign-out{

    background-color: red;
    border-radius: 10px;
    margin-top: 50px;
   
}

ul {

    height: 80vh;
    position: relative;
    width: 70%;
  
   
}

ul li:hover{
    background-color: red;
    border-radius: 12px;
  
}

ul a span{

    overflow: hidden;
}

.content-main{

    background-image: url(../image/light\ grey.gif);
    position: relative;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* header style for css starts here, header
includes profile, search bar and welcome note */

.header-main{

    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 5px 20px;
    align-items: center;
    width: 93%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 10px 5px 10px 5px lightgray;
    
}

.profile-img img{
    color: #0c012f;
    font-size: 50px;

}

/* header-title is here */

.header-title h1{
    color: #0c012f;
    font-size: 20px;
}


.header-title span{

    color: #0c012f;
    font-size: 15px;
    letter-spacing: 4px;
    display: block;
    padding-bottom: 5px;
}

/* profile and search-box start here */

.profile-info{

    display: flex;
    align-items: center;
    gap: 100px;
}

.search-box input{

    padding: 8px;
    background-color: transparent;
    outline: none;
    border: 1px solid grey;
    border-radius: 10px;
}

.search-box{

    position: relative;
}

.search-box button{

    padding: 7px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #0c012f;
    color: #fff;
    border-radius: 5px;
    border: 1px solid gray;
}

.search-box button{
    transform: scale(1.1);

}

/* My card design starts here */

.card-container{

    background-color: #fff;
    margin-top: 10px;
    width: 93%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 20px;
    border-radius: 10px;
    box-shadow: 10px 5px 10px 5px lightgray;
    height: 200px;
}

.card-container h1{

    color: #0c012f;
    font-size: 20px;
}

.card-flex{

    display: flex;
    gap: 3rem;
}

.card-student{

    background: rgba(3, 30, 47, 0.566);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 23.5%;
    height: 120px;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    box-shadow: 2px 2px 1px color #443f3f33;
    cursor: pointer;
}

.card-student:hover{
    transform: translate(-5px);
}


.card-header{

    display: flex;
    justify-content: space-between;
}

.passcode-info{

    display: flex;
    flex-direction: column;
}


.icon{

    font-size: 20px;
    background-color: #0c012f;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
}

.dark-purple{

    background-color: purple;
}

.dark-red{

    background-color: red;
}

.dark-blue{

    background-color: dodgerblue;
}

.card-flex >.card-student:nth-child(1){

    background: rgb(254 226 254);
}

/* #custom class for my card background */


.card-flex >.card-student:nth-child(2){

    background: rgb(206 204 242);
}

.card-flex >.card-student:nth-child(3){

    background: rgb(204 242 239);
}

.card-flex >.card-student:nth-child(4){

    background: rgb(242, 220, 204);
}

/* assignment container is here */

.assignment-container{

    background-color: #fff;
    margin-top: 10px;
    width: 93%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 20px;
    border-radius: 10px;
    box-shadow: 10px 5px 10px 5px lightgray;
      
}

.assignment-container h1{

    font-size: 18px;
    padding-bottom: 1rem;
}

.top-img img{
    width: 50px;
    border-radius: 50%;

}

.assignment-flex{

    display: flex;
}

.assignment-subject{

    flex: 2;
    display: flex;
    justify-content: space-around;
    box-shadow: 5px 3px 10px 0px rgb(220, 211, 211);
    height: 70px;
    align-items: center;
    border-radius: 10px;
    border-left: 3px solid #0c012f;
}

.courses h3{

    font-size: 15px;
    padding-bottom: 5px;
    color: #0c012f;
    font-weight: bold;
}

.topic{

    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

.btn-btn{

    background-color: rgb(182, 243, 214);
    padding: 7px 10px;
    border-radius: 10px;
    font-weight: bold;
    color: #0c012f;
}

.top-performer{

    flex: 1;
    display: flex;
    justify-content: space-around;
    box-shadow: 5px 3px 10px 0px rgb(220, 211, 211);
    align-items: center;
    border-radius: 10px;
    border-right: #0c012f solid 3px;

}
