body{


    background-color: grey;
  }
  .container-form{
  
    background-image: url(/image/red-golden.jpg);
      width: 50%;
      margin: auto;
      text-align: center;
      height: 93vh;
    padding-bottom: 4rem;
    padding-right: 1rem;
  } 
  
    .content-form{
  
    background-color: white;
    width: 98%;
    margin: auto;
    border-radius: 15px;
    padding-right: 1rem;
  
    }
  /* 
  .content-form{
    padding-bottom: 20px;
  } */
  
   h1{
     font-size: 50px;
     font-weight: bolder;
     color: rgb(17, 17, 215);
     font-family: Arial, Helvetica, sans-serif;
     padding-top: 30px;
     
  }
  .password{
  
      padding: 25px;
      position: relative;
  }
     
  
  input[type=password]{
  
  
      width: 60%;
       padding: 5px;
  }
  
  
  
  input[type=password]{
    border-left: none;
    border-right: none;
    outline: none;
   border-top: none;
  
  }
  
    
  
  .placeholder-1{
    border-bottom: none;
    margin-top: 5px;
  
  }
  
    
    
   h2{
      background-color: rgb(52, 52, 201);
  width: 30%;
   margin: auto;
   padding: 12px 10px;
   border-radius: 10px;
   color: white;
   margin-top: 20px;
   font-size: 20px;
   box-shadow: 10px 9px 8px 5px rgb(158, 158, 232);
   }
    .divider{
   display: flex;
  align-items: center;
  margin: 20px;
  
    }
    
  .divider::after,.divider::before{
  
      content: "";
      padding: 1px;
      background-color: rgb(216, 205, 205);
      flex-grow: 1;
      margin: 3px;
  }    
  
  
      
  .social-button{
  
      background-color: rgb(126, 28, 33);
      color: white;
      padding: 8px 10px;
     margin: 20px;
    border-radius: 30px;
     text-decoration: none;
   }
  
   .social-button:nth-child(2){
  
      background-color: darkblue;  
    }
  
  
    .social-button:nth-child(3){
  
      background-color: rgba(10, 4, 4, 0.902);  
    }
  
   .eyes{
  
      position: absolute;
      top: 60%;
      left: 75%;
      font-size: 14px;
  
   }
    h3{
  
      color: rgb(95, 131, 143);
      font-size: 15px;
     margin-top: 20px;
     padding-bottom: 60px;
    }
   
  
  